# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Database maybe
*.sqlite

#log file maybe
*.log

# Project specific ignores
*.swp
*.bak

# secrets instance variables
instance/

# sessions instance objects
sessions/


# virtual environment and vendors library
envs/


local_config.py
.idea/
.vscode/