{% extends "base.html" %}
{% block content %}
    <h3>{{ title_en_US }}</h3>
    <hr/>
    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <form method="POST" action="{{ form.action }}" role="form" class="form-horizontal" accept-charset="utf-8" >
                    {{ form.csrf_token }}
                    <!-- <input id="csrf_token" name="csrf_token" value="" type="hidden"> -->
                    <fieldset>
                        <legend>Add new user</legend>
                        <div class="form-group">
                            <label for="user_email" class="col-lg-4 control-label">{{ form.email.label }}</label>

                            <div class="col-lg-6">
                                {{ form.email (class="form-control") }}
                                <!-- <input class="form-control" id="user_email" name="user_email" required="" value="" type="text"> -->
                                {% for error in form.errors.email %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_username" class="col-lg-4 control-label">{{ form.username.label }}</label>

                            <div class="col-lg-6">
                                {{ form.username (class="form-control") }}
                                <!-- <input class="form-control" id="user_username" name="user_username" required="" value="" type="text"> -->
                                {% for error in form.errors.username %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_unit" class="col-lg-4 control-label">{{ form.unit.label }}</label>
                            <div class="col-lg-6">
                                {{ form.unit (class="form-control") }}
                                <!--
                                <select id="user_unit" name="user_unit" >
                                    {% for unit in units %}
                                        <option value="{{unit.id}}">{{unit.title_en_US}}</option>
                                    {% endfor %}
                                </select>
                                -->
                                {% for error in form.errors.unit %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_is_active" class="col-lg-4 control-label">{{ form.is_active.label }}</label>
                            <div class="col-lg-6">
                                {{ form.is_active (class="form-control") }}
                                <!-- <input type="checkbox" name="check" value="{{ form.is_active.data }}"> -->
                                {% for error in form.errors.is_active %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_created_at" class="col-lg-4 control-label">{{ form.created_at.label }}</label>

                            <div class="col-lg-6 input-unit date" >
        
                                <input value="{{ form.created_at.data }}" class="form-control datepicker"  data-provide="datepicker" data-date-format="yyyy-mm-dd" id="created_at" name="created_at" required="" type="text">
                                <div class="input-unit-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                {% for error in form.errors.created_at %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-4  col-lg-offset-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>



    </div>

<script>

    $('#created_at')
        .datepicker({
            setDate: new Date(),
            autoclose: true,
             language: 'fr-FR',
             dateFormat: "yyyy-mm-dd"
        });

</script>
{% endblock content %}
