{% extends "base.html" %}
{% block content %}
    <h3>{{ title_en_US }}</h3>
    <hr/>
    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <form method="POST" action="{{ form.action }}" enctype="multipart/form-data" role="form" class="form-horizontal" accept-charset="utf-8">
                    {{ form.csrf_token }}
                    <!-- <input id="csrf_token" name="csrf_token" value="" type="hidden"> -->
                    <fieldset>
                        <legend>Add new asset</legend>

                        {% if form.data_file_name.data %}
                        <div class="form-group">
                            <label for="asset_data_file_name" class="col-lg-4 control-label">{{ form.data_file_name.data }}</label>

                            <div class="col-lg-6">
                                <img src=" {{url_for('static', filename='images/' + form.data_file_name.data ) }}"  width="100" class="center img-thumbnail">
                            </div>
                        </div>
                            
                        {% endif %}

                        <div class="form-group">
                            <label for="asset_data_file_name" class="col-lg-4 control-label">{{ form.data_file_name.label }}</label>

                            <div class="col-lg-6">
                                {{ form.data_file_name (class="form-control") }}
                                <!-- <input class="form-control" id="data_file_name" name="data_file_name" required="" value="" type="file"> -->
                                {% for error in form.errors.data_file_name %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_data_content_type" class="col-lg-4 control-label">{{ form.data_content_type.label }}</label>

                            <div class="col-lg-6">
                                {{ form.data_content_type (class="form-control") }}
                                <!-- <input class="form-control" id="asset_data_content_type" name="asset_data_content_type" required="" value="" type="text"> -->
                                {% for error in form.errors.data_content_type %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_data_file_size" class="col-lg-4 control-label">{{ form.data_file_size.label }}</label>

                            <div class="col-lg-6">
                                {{ form.data_file_size (class="form-control") }}
                                <!-- <input class="form-control" id="asset_data_file_size" name="asset_data_file_size" required="" value="" type="text"> -->
                                {% for error in form.errors.data_file_size %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_asset_type" class="col-lg-4 control-label">{{ form.asset_type.label }}</label>

                            <div class="col-lg-6">
                                {{ form.asset_type (class="form-control") }}
                                <!-- <input class="form-control" id="asset_asset_type" name="asset_asset_type" required="" value="" type="text"> -->
                                {% for error in form.errors.asset_type %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_width" class="col-lg-4 control-label">{{ form.width.label }}</label>

                            <div class="col-lg-6">
                                {{ form.width (class="form-control") }}
                                <!-- <input class="form-control" id="asset_width" name="asset_width" required="" value="" type="text"> -->
                                {% for error in form.errors.width %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_height" class="col-lg-4 control-label">{{ form.height.label }}</label>

                            <div class="col-lg-6">
                                {{ form.height (class="form-control") }}
                                <!-- <input class="form-control" id="asset_height" name="asset_height" required="" value="" type="text"> -->
                                {% for error in form.errors.height %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="asset_description_en_US" class="col-lg-4 control-label">{{ form.description_en_US.label }}</label>

                            <div class="col-lg-6">
                                {{ form.description_en_US (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="asset_description_en_US" name="asset_description_en_US">form.description_en_US.data</textarea> -->
                                {% for error in form.errors.description_en_US %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_description_fr_FR" class="col-lg-4 control-label">{{ form.description_fr_FR.label }}</label>

                            <div class="col-lg-6">
                                {{ form.description_fr_FR (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="asset_description_fr_FR" name="asset_description_fr_FR">form.description_fr_FR.data</textarea> -->
                                {% for error in form.errors.description_en_US %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_is_active" class="col-lg-4 control-label">{{ form.is_active.label }}</label>
                            <div class="col-lg-6">
                                {{ form.is_active (class="form-control") }}
                                <!-- <input type="checkbox" name="check" value="{{ form.is_active.data }}"> -->
                                {% for error in form.errors.is_active %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="asset_created_at" class="col-lg-4 control-label">{{ form.created_at.label }}</label>

                            <div class="col-lg-6 input-asset date" >
        
                                <input value="{{ form.created_at.data }}" class="form-control datepicker"  data-provide="datepicker" data-date-format="yyyy-mm-dd" id="created_at" name="created_at" required="" type="text">
                                <div class="input-asset-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                                {% for error in form.errors.created_at %} <br/>
                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-4  col-lg-offset-4">

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>



    </div>

<script>    

    $('#created_at')
        .datepicker({
            setDate: new Date(),
            autoclose: true,
             language: 'fr-FR',
             dateFormat: "yyyy-mm-dd"
        });

</script>

{% endblock content %}
