{% extends "base.html" %}
{% block content %}
    <h3>{{ title }}</h3>
    <hr/>
    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <form method="POST" action="{{ form.action }}" role="form" class="form-horizontal" accept-charset="utf-8">
                    {{ form.csrf_token }}
                    <!-- <input id="csrf_token" name="csrf_token" value="" type="hidden"> -->
                    <fieldset>
                        <legend>Add new group</legend>
                        <div class="form-group">
                            <label for="group_title" class="col-lg-4 control-label">{{ form.title.label }}</label>

                            <div class="col-lg-6">
                                {{ form.title (class="form-control") }}
                                <!-- <input class="form-control" id="group_title" name="group_title" required="" value="" type="text"> -->
                                {% for error in form.errors.title %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="group_description" class="col-lg-4 control-label">{{ form.description.label }}</label>

                            <div class="col-lg-6">
                                {{ form.description (cols="35", rows="5", class="form-control") }}
                                <!-- <textarea class="form-control" id="group_description" name="group_description">form.description.data</textarea> -->
                                {% for error in form.errors.description %} <br/>

                                    <div class="alert alert-danger" style="display: inline-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-4  col-lg-offset-4">

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>



    </div>


{% endblock content %}
