{% extends "base.html" %}
{% block title %} {{ group.id }} - {{ group.title }} - {{ app.config['APP_NAME'] }}{% endblock %}
{% block content %}
    <h3>{{ group.id }} - {{ group.title }}</h3>
    <hr/>

    <p>{{ group.description }}</p>
    <p> Users : 
        {% if group.users %}
            {{ group.users.count() }}
        {% else %}
            0
        {% endif %}
    </p>
    <p>{{ group.is_active }}</p>
    <p>{{ group.updated_at }}</p>
    <p>{{ group.created_at }}</p>
{% endblock content %}

