/* Main stylesheet */

/* @section body */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding top by fixed header navbar height */  
  padding-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 5px  0px;
  /* Set the fixed height of the footer here */
  height: 60px;
}


/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }


.navbar-brand>img {

   height: 100%;
   width: auto;
   margin: 0 auto;
   min-height: 50px;
   position: relative;
   top : -15px;
   left : -15px;

   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 

}


.datepicker table {
    background-color: #fff;
}


/* Your customizations here */
