/* Main stylesheet */

/* @section body */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding top by fixed header navbar height */  
  padding-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 5px  0px;
  /* Set the fixed height of the footer here */
  height: 60px;
}


/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }


.navbar-brand>img {

   height: 100%;
   width: auto;
   margin: 0 auto;
   min-height: 50px;
   position: relative;
   top : -15px;
   left : -15px;

   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 

}


.datepicker table {
    background-color: #fff;
}


.active {
  color: #FFF !important;
  background-color: #1e1e1e !important;
}




/* make sidebar nav vertical */ 
/* --------------------------------------------- */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    left: 0;
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


#body_aside {
    width: 60px;    /* 0 width - change this with JavaScript */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#body_content {
    transition: margin-left .5s;
    /* padding: 20px; */
}


.text_sidebar {
  display : none;
  margin-left : 10px;
}

/* On using dropdown menu (To right shift popuped) */
.sidenav .navbar-nav > li > .dropdown-menu {
  position : absolute;
  z-index: 3;
  margin-top: -50px;
  margin-left: 60px;
}


.show_aside > .sidenav .navbar-nav > li > .dropdown-menu {
  margin-left: 160px;
}

.show_aside > .sidenav .navbar-nav > li {
  width: 160px;
}

.show_aside > #body_aside {
  width: 160px; /* 0 width - change this with JavaScript */
}

.show_aside > #body_content {
  margin-left : 160px;
}





/* The navigation menu links */
.sidenav .navbar-brand {
  width: 100%;
}

.sidenav .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
}

.sidenav .navbar-nav > li > span:first-child {
  float: left;
  margin-right: 5px;
}

/*
.sidenav + .container {
  padding-left: 160px;
}
*/

/* --------------------------------------------- */



/* Your customizations here */

