{% extends "base.html" %}
{% block content %}

    <h3>Units</h3>
    <h4 class="text-right"><a href="/units/new"><span class="glyphicon glyphicon-plus"></span> New</a></h4>
    <hr/>



    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Users count</th>
            <th>Active</th>
            <th>Updated Date</th>
            <th>Created Date</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        {% if list_units.items %}
            {% for unit in list_units.items %}
                <tr>
                    <td><a href="{{ url_for('units_page.show', id = unit.id) }}" >{{ unit.id }}</a></td>
                    <td><a href="{{ url_for('units_page.show', id = unit.id) }}" >{{ unit.title_en_US }}</a></td>
                    <td>{{ unit.description_en_US }}</td>
                    <td>
                        {% if unit.users %}
                            {{ unit.users.count() }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td>{{ unit.is_active }}</td>
                    <td>{{ unit.updated_at | datetimeformat }}</td>
                    <td>{{ unit.created_at | datetimeformat }}</td>
                    <td><a href="{{ url_for('units_page.edit', id = unit.id) }}" ><i class="glyphicon glyphicon-pencil"></i> edit</a></td>
                    <td><a href="{{ url_for('units_page.delete', id = unit.id) }}" ><i class="glyphicon glyphicon-trash"></i> delete</a></td>

                </tr>
            {% endfor %}
        {% else %}
          <tr style="text-align: center">
              <td colspan="8">
            <h4> No units have been added. </h4>
            </td>
         </tr>
        {% endif %}
    </table>

    <ul class="pagination">
        {%- for page in list_units.iter_pages() %}
            {% if page %}
                {% if page != list_units.page %}
                    <li><a href="{{ url_for('units_page.units', page = page) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active"><a href="#"><strong>{{ page }}</strong></a></li>
                {% endif %}
            {% else %}
                <li><span class=ellipsis>…</span></li>
            {% endif %}
        {%- endfor %}
    </ul>


{% endblock content %}
