{% extends "base.html" %}
{% block title_en_US %} {{ item.id }} - {{ item['title_%s' %(g.current_lang)] }} - {{ app.config['APP_NAME'] }}{% endblock %}
{% block content %}
<div class="container">
    <h3>{{ item.id }} - {{ item['title_%s' %(g.current_lang)] }}</h3>
    <h4 class="text-right"><a href="/items"><span class="glyphicon glyphicon-home"></span> Back</a></h4>
    <hr/>

    <p>{{ item.slug }}</p>
    <p>{{ item['description_%s' %(g.current_lang)] }}</p>
    <!-- MANY-TO-MANY -->
    <p>
        {% if item.assets %}
            {% for asset in item.assets %}
                {{ asset.data_file_name }}, 
            {% endfor %}
        {% else %}
            No assets
        {% endif %}
    </p>
    <p>{{ item.is_active }}</p>
    <p>{{ item.updated_at }}</p>
    <p>{{ item.created_at }}</p>
</div>
{% endblock content %}

